.leaderboard {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.leaderboard {
    text-align: center;
    position: relative;
    width: 80%;
    border: 3px solid black;
    left: 10%;
    top: 50px;
}

#LePleaderboard {
    font-family: "Montserrat", sans-serif;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
}

.leaderboard table {
    padding: 10px;
}

thead {
    height: 40px;
    font-size: 18px;
}

tr {
    height: 35px;
}

.rankL {
    width: 35px;
}

.spL, .gamesL{
    width: 20%;
}
tbody:before {
    content:"";
    display:block;
}



