@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

nav #icon {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    float: right;
    cursor: pointer;
    display: none;
}

nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
input[type="checkbox"]{
    display: none;
}

li, a, #button, .home, .about, .contact {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.contact, .about , .home h1, h3{
    text-align: center;
}

#navH {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2%;
}

.logo {
    cursor: pointer;
}

.nav_main {
    list-style: none;
    z-index: 200;
}

.nav_main li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_main li a {
    transition: all 0.3s ease 0s;
}

.nav_main li a:hover {
    color: #0088a9;
}

#button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

#button:hover {
    background-color: rgba(0,136,169,0.8);
}

.top_10 {
    position: fixed;
    width: 200px;
    border: 3px solid;
    right: 20px;
    top: 200px;
}

.top_10 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top10 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

table {
    background-color: #16181e;
    color: #999;
    width: 100%;
}

thead {
    font-size: 13px;
    color: #555;
    text-transform: uppercase;
}

thead .nickname, .rank, .sp {
    text-align: center;
}

tbody .nickname {
    padding-left: 5px;
    color: white;
    font-weight: bold;
}

.nickname {
    text-align: left;
}

.rank {
    width: 16px;
}

#introduction p {
    margin: 1% 20%;
    text-align: left;
}

#introduction ul {
    margin: 0% 30%;
    text-align: left;
}

#features p {
    margin: 1% 20%;
    text-align: left;
}

#features ul {
    margin: 0% 30%;
    text-align: left;
}

#features h3, #introduction h3 {
    margin: 0% 35%;
    margin-bottom: 15px;
    text-align: left;
    color: #c1e1ec;
}

#features section {
    margin-bottom: 25px;
}

.contact h3 {
    margin-bottom: 15px;
}
.contact a {
    padding: 0% 5%;
    padding-bottom: 10px;
    width: 100%;
}


@media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    .top_10 {
        display: none;
    }
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #24252A;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: cyan;
    }
}
