@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

@media screen and (max-width: 920px) {
    .top_10 {
        display: none;
    }
    .logo {
        display: none;
    }
}

li, a, #button, .home, .about, .contact {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.contact, .about , .home h1, h3{
    text-align: center;
}

#navH {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav_main {
    list-style: none;
}

.nav_main li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_main li a {
    transition: all 0.3s ease 0s;
}

.nav_main li a:hover {
    color: #0088a9;
}

#button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

#button:hover {
    background-color: rgba(0,136,169,0.8);
}

.top_10 {
    position: fixed;
    width: 200px;
    border: 3px solid;
    right: 20px;
    top: 200px;
}

.top_10 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top10 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

table {
    background-color: #16181e;
    color: #999;
    width: 100%;
}

thead {
    font-size: 13px;
    color: #555;
    text-transform: uppercase;
}

thead .nickname, .rank, .sp {
    text-align: center;
}

tbody .nickname {
    padding-left: 5px;
    color: white;
    font-weight: bold;
}

.nickname {
    text-align: left;
}

.rank {
    width: 16px;
}

#introduction p {
    margin: 1% 20%;
    text-align: left;
}

#introduction ul {
    margin: 0% 30%;
    text-align: left;
}

#features p {
    margin: 1% 20%;
    text-align: left;
}

#features ul {
    margin: 0% 30%;
    text-align: left;
}

#features h3, #introduction h3 {
    margin: 0% 35%;
    margin-bottom: 15px;
    text-align: left;
    color: #c1e1ec;
}

#features section {
    margin-bottom: 25px;
}

.contact h3 {
    margin-bottom: 15px;
}
.contact a {
    padding: 0% 5%;
    padding-bottom: 10px;
    width: 100%;
}
