
@font-face {
	font-family: pixelFont;
	src: url(fonts/slkscr.tts);
}

body {
	background-color:#a2bab6;
	padding: auto auto;
}

#body2 {
	width: 30%;
	height: 800px;
	margin-left: 0%;
	margin-top: 10px;
	background-color: #7e9490;
	
}

#head2 {
	display: flex;
	justify-content: center;
}

.flex-container {
	width: 100%;
	margin-left: 0%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.flex-container > div {
  
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.flex-containerr {
	height: 600px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: column;
}

.flex-containerr > div {
  background-color: #7e9490;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.flex-container2 {
	margin-top: 0%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: column;
}

.flex-container2 > input[type=text], input[type=password] {
	background-color: #a2bab6;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 7px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: #2e403c;
	box-sizing: border-box;
	border: 3px solid #5e7a75;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.flex-container2 > input[type=text]:invalid, input[type=password]:invalid {
	border: 3px solid #993333;
	
}

.flex-container2 > input[type=text]:focus, input[type=password]:focus {
	border: 3px solid #555;
	
}

.flex-container2 > input[type=submit], input[type=button] {
	background-color: #5e7a75;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: white;
	border: 0px;
}

.flex-container2 > input[type=submit]:hover, input[type=submit]:active, input[type=button]:hover, input[type=button]:active {
	background-color: #80aba2;
	color: white;
}

a.menu:link, a.menu:visited {
	background-color: #5e7a75;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: white;
}

a.menu:hover, a.menu:active {
	background-color: #80aba2;
	color: white;

}

h1.title {
	color: #2e403c;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: pixelFont;
	padding: 0px 10px;
}

h1.title2 {
	color: #2e403c;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
	font-family: pixelFont;
	padding: 0px 10px;
	background-color: #5e7a75;
}

p {
	color: #2e403c;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -10px;
	font-size: 18px;
}

.icon {
	border: 4px solid #5e7a75;
	height: 60px;
	width: 60px;
}

.icon:hover {
	border: 4px solid #80aba2;
	cursor: pointer;
	height: 60px;
	width: 60px;
}

.grid-item {
	margin: 5px 5px;
}