@font-face {
	font-family: pixelFont;
	src: url(fonts/slkscr);
}

body {
	background-color:#000000;
	padding: auto auto;
}

#body2 {
	width: 30%;
	height: 800px;
	margin-left: 0%;
	margin-top: 10px;
	background-color: #7e9490;
	
}

#head2 {
	display: flex;
	justify-content: center;
}

.flex-container {
	width: 100%;
	margin-left: 0%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.flex-container > div {
  background-color: #7e9490;
  width: 200px;
  height: 400px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

a.menu:link, a.menu:visited {
	background-color: #5e7a75;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: white;
}

a.menu:hover, a.menu:active {
	background-color: #80aba2;
	color: white;

}

h1 {
	color: #2e403c;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: pixelFont;
}

p {
	color: #2e403c;
	padding-left: 10px;
	padding-right: 10px;
	text-indent: 10px;
	font-size: 18px;
}

.icon {
	border: 4px solid #5e7a75;
	height: 60px;
	width: 60px;
}

.icon:hover {
	border: 4px solid #80aba2;
	cursor: pointer;
	height: 60px;
	width: 60px;
}

.grid-item {
	margin: 5px 5px;
}